# fly.toml app configuration file generated for c2s-gateway on 2025-11-20T19:55:00-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'mbras-c2s-gateway'
primary_region = 'gru'

[build]
  dockerfile = "Dockerfile"

[deploy]
  release_command = "python -c 'print(\"Starting C2S Gateway\")'"

[env]
  C2S_BASE_URL = 'https://api.contact2sale.com'
  PORT = '8000'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '30s'
    timeout = '10s'
    grace_period = '30s'
    method = 'GET'
    path = '/'

[[vm]]
  size = 'shared-cpu-1x'
